<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cart Page</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../static/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>

<body class="page-template cart-variant1">
    <div class="pageWrapper">
        <!--Search Form Drawer-->
        <!-- <div class="search">
            <div class="search__form">
                <form class="search-bar__form" action="#">
                    <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                    <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..."
                        aria-label="Search" autocomplete="off">
                </form>
                <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
            </div>
        </div> -->
        <!--End Search Form Drawer-->
        <!--Top Header-->
        <div class="top-header" style="background-color: #081525;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Centered Tagline Section -->
                    <div class="col-sm-12 col-md-4 offset-md-4 text-center top-headerdiv">
                        <p class="top-header_middle-text" style="color: #deb992;">Effortless Style. Redefined for You.
                        </p>
                    </div>
                    <!-- Right Aligned Login and Create Account -->
                    <div class="col-sm-12 col-md-4 text-right accountlogo">
                        <span class="user-menu d-block d-lg-none">
                            <i class="anm anm-user-al" aria-hidden="true" style="color: #deb992;"></i>
                        </span>
                        <ul class="customer-links list-inline mb-0">
                            {% if session['logged_in'] %}
                            <!-- User is logged in -->
                            {% if session['is_admin'] %}
                            <li class="list-inline-item"><a href="/wishlist" target="_blank"
                                    style="color: #deb992; font-weight: 500;">Admin</a></li>
                            {% endif %}
                            <li class="list-inline-item" style="display: none;"><a href="/login"
                                    style="color: #deb992; font-weight: 500;">Login</a></li>
                            <li class="list-inline-item" style="display: none;"><a href="/register"
                                    style="color: #deb992; font-weight: 500;">Create Account</a></li>

                            <!-- Show "My Account" and "Logout" when logged in -->
                            <li class="list-inline-item"><a href="/myaccount"
                                    style="color: #deb992; font-weight: 500;">My
                                    Account</a></li>
                            <li class="list-inline-item"><a href="/logout"
                                    style="color: #deb992; font-weight: 500;">Logout</a></li>
                            {% else %}
                            <!-- User is not logged in -->
                            <li class="list-inline-item" style="display: none;"><a href="/wishlist" target="_blank"
                                    style="color: #deb992; font-weight: 500;">Admin</a></li>
                            <li class="list-inline-item"><a href="/login"
                                    style="color: #deb992; font-weight: 500;">Login</a></li>
                            <li class="list-inline-item"><a href="/register"
                                    style="color: #deb992; font-weight: 500;">Create Account</a></li>
                            <li class="list-inline-item" style="display: none;"><a href="/myaccount"
                                    style="color: #deb992; font-weight: 500; display: none;">My Account</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Top Header-->
        <!--Header-->
        <div class="header-wrap classicHeader animated d-flex">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!--Desktop Logo-->
                    <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                        <a href="/">
                           <div style="display: flex;align-items: center;">
                            <img src="../static/images/logo/newlogo.png" width="80px" alt="FashionHolics" 
                                    title="FashionHolics" />
                        <h3 style="color: #deb992;font-family: Poppins, Helvetica, Tahoma, Arial, serif;font-weight: 600;margin-bottom: 0px;white-space: nowrap;font-size: 1vw;">FASHION HOLICS</h3>
                    </div>  
                        </a>
               
                    </div>
                    <!--End Desktop Logo-->
                    <div class="col-2 col-sm-3 col-md-3 col-lg-8" style="display: flex; justify-content: center; align-items: center; height: 100%;">
                        <div class="d-block d-lg-none" >
                            <button type="button"
                                class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                <i class="icon anm anm-times-l" style="color: #deb992;"></i>
                                <i class="anm anm-bars-r" style="color: #deb992;"></i>
                            </button>
                        </div>
                        <!--Desktop Menu-->
                        <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                {% if session['logged_in'] %}
                                <li class="lvl1 parent megamenu"><a href="/">Home <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent megamenu"><a href="/shopfullwidth">Men<i
                                    class="anm anm-angle-down-l"></i></a>
                            <div class="megamenu style4">
                                <ul class="grid grid--uniform mmWrapper">
                                    <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                            class="site-nav lvl-1">Top Wear</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="/shopfullwidth/Tshirts"
                                                    class="site-nav lvl-2">T-Shirts</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/Shirts"
                                                    class="site-nav lvl-2">Shirts</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/Jackets&Hoodies"
                                                    class="site-nav lvl-2">Jackets & Hoodies</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/Sweaters&Sweatshirts"
                                                    class="site-nav lvl-2">Sweaters & Sweatshirts</a></li>
                                        </ul>
                                    </li>
                                    <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                            class="site-nav lvl-1">Bottom Wear</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="/shopfullwidth/Jeans&Trousers"
                                                    class="site-nav lvl-2">Jeans & Trousers<span
                                                        class="lbl nm_label3">Hot</span></a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/Shorts&Chinos"
                                                    class="site-nav lvl-2">Shorts & Chinos</a></li>
                                        </ul>
                                    </li>
                                    <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                            class="site-nav lvl-1">Foot Wear</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="/shopfullwidth/Sneakers&CasualShoes"
                                                    class="site-nav lvl-2">Sneakers & Casual Shoes<span
                                                        class="lbl nm_label3">Hot</span></a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/FormalShoes"
                                                    class="site-nav lvl-2">Formal Shoes</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/Sandals&Slippers"
                                                    class="site-nav lvl-2">Sandals & Slippers</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="lvl1 parent megamenu"><a href="/shopwomen">Women<i
                            class="anm anm-angle-down-l"></i></a>
                    <div class="megamenu style4">
                        <ul class="grid grid--uniform mmWrapper">
                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                    class="site-nav lvl-1">Top Wear</a>
                                <ul class="subLinks">
                                    <li class="lvl-2"><a href="/shopwomen/Tops" class="site-nav lvl-2">Tops</a></li>
                                    <li class="lvl-2"><a href="/shopwomen/Dresses" class="site-nav lvl-2">Dresses</a></li>
                                    <li class="lvl-2"><a href="/shopwomen/Sweaters"
                                            class="site-nav lvl-2">Sweaters</a></li>
                                    <li class="lvl-2"><a href="/shopwomen/Jackets&Coats"
                                            class="site-nav lvl-2">Jackets & Coats</a></li>
                                </ul>
                            </li>
                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                    class="site-nav lvl-1">Bottom Wear</a>
                                <ul class="subLinks">
                                    <li class="lvl-2"><a href="/shopwomen/Jeans&Pants" class="site-nav lvl-2">Jeans & Pants
                                            <!-- <span class="lbl nm_label3">Hot</span></a></li> -->
                                    <li class="lvl-2"><a href="/shopwomen/Skirts&Shorts" class="site-nav lvl-2">Skirts & Shorts</a></li>
                                </ul>
                            </li>
                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                    class="site-nav lvl-1">Footwear</a>
                                <ul class="subLinks">
                                    <li class="lvl-2"><a href="/shopwomen/Flats&Sandals"
                                            class="site-nav lvl-2">Flats & Sandals<span
                                                class="lbl nm_label3">Hot</span></a></li>
                                    <li class="lvl-2"><a href="/shopwomen/Heels&Wedges"
                                            class="site-nav lvl-2">Heels & Wedges</a></li>
                                    <li class="lvl-2"><a href="/shopwomen/Sneakers&CasualShoes" class="site-nav lvl-2">Sneakers & Casual Shoes</a></li>

                                </ul>
                            </li>
                            <!-- <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                    class="site-nav lvl-1">Sportswear</a>
                                <ul class="subLinks">
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Sports
                                            Bra</a></li>
                                    <li class="lvl-2"><a href="/shopwomen"
                                            class="site-nav lvl-2">Leggings</a></li>
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Tank
                                            Tops</a></li>
                                    <li class="lvl-2"><a href="/shopwomen"
                                            class="site-nav lvl-2">Running Shorts</a></li>
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Track
                                            Jackets</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                </li>
                                <li class="lvl1 parent megamenu"><a href="/">Kids <span
                                            style="background-color: red;border-radius: 5px; padding: 1px;">Coming
                                            soon!</span><i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <!-- <li class="lvl1 parent dropdown"><a href="#">New Arrivals <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li> -->

                                <li class="lvl1 parent dropdown"><a href="/contactus">Contact Us <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown"><a href="/aboutus">About Us <i
                                    class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown"><a href="/myaccount">My Account <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                {% else %}
                                <li class="lvl1 parent megamenu"><a href="/">Home <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent megamenu"><a href="/shopfullwidth">Men<i
                                    class="anm anm-angle-down-l"></i></a>
                            <div class="megamenu style4">
                                <ul class="grid grid--uniform mmWrapper">
                                    <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                            class="site-nav lvl-1">Top Wear</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="/shopfullwidth/Tshirts"
                                                    class="site-nav lvl-2">T-Shirts</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/Shirts"
                                                    class="site-nav lvl-2">Shirts</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/Jackets&Hoodies"
                                                    class="site-nav lvl-2">Jackets & Hoodies</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/Sweaters&Sweatshirts"
                                                    class="site-nav lvl-2">Sweaters & Sweatshirts</a></li>
                                        </ul>
                                    </li>
                                    <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                            class="site-nav lvl-1">Bottom Wear</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="/shopfullwidth/Jeans&Trousers"
                                                    class="site-nav lvl-2">Jeans & Trousers<span
                                                        class="lbl nm_label3">Hot</span></a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/Shorts&Chinos"
                                                    class="site-nav lvl-2">Shorts & Chinos</a></li>
                                        </ul>
                                    </li>
                                    <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                            class="site-nav lvl-1">Foot Wear</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="/shopfullwidth/Sneakers&CasualShoes"
                                                    class="site-nav lvl-2">Sneakers & Casual Shoes<span
                                                        class="lbl nm_label3">Hot</span></a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/FormalShoes"
                                                    class="site-nav lvl-2">Formal Shoes</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth/Sandals&Slippers"
                                                    class="site-nav lvl-2">Sandals & Slippers</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="lvl1 parent megamenu"><a href="/shopwomen">Women<i
                            class="anm anm-angle-down-l"></i></a>
                    <div class="megamenu style4">
                        <ul class="grid grid--uniform mmWrapper">
                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                    class="site-nav lvl-1">Top Wear</a>
                                <ul class="subLinks">
                                    <li class="lvl-2"><a href="/shopwomen/Tops" class="site-nav lvl-2">Tops</a></li>
                                    <li class="lvl-2"><a href="/shopwomen/Dresses" class="site-nav lvl-2">Dresses</a></li>
                                    <li class="lvl-2"><a href="/shopwomen/Sweaters"
                                            class="site-nav lvl-2">Sweaters</a></li>
                                    <li class="lvl-2"><a href="/shopwomen/Jackets&Coats"
                                            class="site-nav lvl-2">Jackets & Coats</a></li>
                                </ul>
                            </li>
                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                    class="site-nav lvl-1">Bottom Wear</a>
                                <ul class="subLinks">
                                    <li class="lvl-2"><a href="/shopwomen/Jeans&Pants" class="site-nav lvl-2">Jeans & Pants
                                            <!-- <span class="lbl nm_label3">Hot</span></a></li> -->
                                    <li class="lvl-2"><a href="/shopwomen/Skirts&Shorts" class="site-nav lvl-2">Skirts & Shorts</a></li>
                                </ul>
                            </li>
                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                    class="site-nav lvl-1">Footwear</a>
                                <ul class="subLinks">
                                    <li class="lvl-2"><a href="/shopwomen/Flats&Sandals"
                                            class="site-nav lvl-2">Flats & Sandals<span
                                                class="lbl nm_label3">Hot</span></a></li>
                                    <li class="lvl-2"><a href="/shopwomen/Heels&Wedges"
                                            class="site-nav lvl-2">Heels & Wedges</a></li>
                                    <li class="lvl-2"><a href="/shopwomen/Sneakers&CasualShoes" class="site-nav lvl-2">Sneakers & Casual Shoes</a></li>

                                </ul>
                            </li>
                            <!-- <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                    class="site-nav lvl-1">Sportswear</a>
                                <ul class="subLinks">
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Sports
                                            Bra</a></li>
                                    <li class="lvl-2"><a href="/shopwomen"
                                            class="site-nav lvl-2">Leggings</a></li>
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Tank
                                            Tops</a></li>
                                    <li class="lvl-2"><a href="/shopwomen"
                                            class="site-nav lvl-2">Running Shorts</a></li>
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Track
                                            Jackets</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                </li>
                                <li class="lvl1 parent megamenu"><a href="/">Kids <span
                                    style="background-color: red;border-radius: 5px; padding: 1px;">Coming
                                    soon!</span><i class="anm anm-angle-down-l"></i></a>

                        </li>
                                <li class="lvl1 parent dropdown"><a href="#">New Arrivals <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>

                                <li class="lvl1 parent dropdown"><a href="/contactus">Contact Us <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown"><a href="/aboutus">About Us <i
                                    class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown"><a href="/myaccount" style="display: none;">My Account
                                        <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        <!--End Desktop Menu-->
                    </div>
                    <!--Mobile Logo-->
                    <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                        <div class="logo moblog">
                            <a href="/">
                                <img src="../static/images/logo/newlogo.png" width="80px" alt="FashionHolics" 
                                        title="FashionHolics" />
                                        
                            </a>
                            <h3 style="color: #deb992;font-family: Poppins, Helvetica, Tahoma, Arial, serif;font-weight: 600;margin-bottom: 0px;white-space: nowrap;font-size: 2.5vw;">FASHION HOLICS</h3>  
                        </div>
                       
                    </div>
                    <!--Mobile Logo-->
                    <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                        <div class="site-cart">
                            <a href="/cart" title="Cart">
                                <i class="anm anm-bag-l" style="color: #deb992; font-size: 22px !important;"></i>
                                <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count" style="color: #deb992; font-size: medium;">{{ cart_count }}</span>
                            </a>

                        </div>
                        <!-- <div class="site-header__search">
                            <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!--End Header-->
        <!--Mobile Menu-->
        <div class="mobile-nav-wrapper" role="navigation">
            <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
            <ul id="MobileNav" class="mobile-nav">
                {% if session['logged_in'] %}
                <li class="lvl1 parent megamenu"><a href="/">Home</a>

                </li>


                <li><a href="#" class="site-nav">Men<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="/shopfullwidth/Shirts" class="site-nav">Shirts</a></li>
                        <li><a href="/shopfullwidth/Tshirts" class="site-nav">Tshirts</a></li>
                        <li><a href="/shopfullwidth/Jeans&Trousers" class="site-nav">Jeans & Trousers</a></li>
                        <li><a href="/shopfullwidth/Jackets&Hoodies" class="site-nav">Jackets & Hoodies</a></li>
                        <li><a href="/shopfullwidth/Sweaters&Sweatshirts" class="site-nav">Sweaters & Sweatshirts</a></li>
                        <li><a href="/shopfullwidth/Shorts&Chinos" class="site-nav">Shorts & Chinos</a></li>
                        <li><a href="/shopfullwidth/Sneakers&CasualShoes" class="site-nav">Sneakers & Casual Shoes</a></li>
                        <li><a href="/shopfullwidth/FormalShoes" class="site-nav">Formal Shoes</a></li>
                        <li><a href="/shopfullwidth/Sandals&Slippers" class="site-nav">Sandals & Slippers</a></li>
                    </ul>
                </li>



                <li><a href="/product" class="site-nav">Women<i class="anm anm-plus-l"></i></a>
                    
                    <ul>
                                  <li><a href="/shopwomen/Tops" class="site-nav">Tops</a></li>
                                  <li><a href="/shopwomen/Dresses" class="site-nav">Dresses</a></li>
                                  <li><a href="/shopwomen/Jeans&Pants" class="site-nav">Jeans & Pants</a></li>
                                  <li><a href="/shopwomen/Skirts&Shorts" class="site-nav">Skirts & Shorts</a></li>
                                  <li><a href="/shopwomen/Sweaters" class="site-nav">Sweaters</a></li>
                                  <li><a href="/shopwomen/Jackets&Coats" class="site-nav">Jackets & Coats</a></li>
                                  <li><a href="/shopwomen/Flats&Sandals" class="site-nav">Flats & Sandals</a></li>
                                  <li><a href="/shopwomen/Heels&Wedges" class="site-nav">Heels & Wedges</a></li>
                                  <li><a href="/shopwomen/Sneakers&CasualShoes" class="site-nav">Sneakers & Casual Shoes</a></li>
                              </ul>
                          </li>
                          <li class="lvl1 parent megamenu"><a href="/">Kids <span style="background-color: red;border-radius: 5px; padding: 1px;">Coming soon!</span><i
                            class="anm anm-angle-down-l"></i></a>
                   
                </li>
                <li class="lvl1"><a href="#">New Arrivals</a>
                </li>

                <li class="lvl1 parent dropdown"><a href="/contactus">Contact Us</a>
                </li>

                <li class="lvl1 parent dropdown"><a href="/myaccount">My Account</a>
                </li>

                {% else %}

                <li class="lvl1 parent megamenu"><a href="/">Home</a>

                </li>


                <li><a href="#" class="site-nav">Men<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="/shopfullwidth/Shirts" class="site-nav">Shirts</a></li>
                        <li><a href="/shopfullwidth/Tshirts" class="site-nav">Tshirts</a></li>
                        <li><a href="/shopfullwidth/Jeans&Trousers" class="site-nav">Jeans & Trousers</a></li>
                        <li><a href="/shopfullwidth/Jackets&Hoodies" class="site-nav">Jackets & Hoodies</a></li>
                        <li><a href="/shopfullwidth/Sweaters&Sweatshirts" class="site-nav">Sweaters & Sweatshirts</a></li>
                        <li><a href="/shopfullwidth/Shorts&Chinos" class="site-nav">Shorts & Chinos</a></li>
                        <li><a href="/shopfullwidth/Sneakers&CasualShoes" class="site-nav">Sneakers & Casual Shoes</a></li>
                        <li><a href="/shopfullwidth/FormalShoes" class="site-nav">Formal Shoes</a></li>
                        <li><a href="/shopfullwidth/Sandals&Slippers" class="site-nav">Sandals & Slippers</a></li>
                    </ul>
                </li>
        



                <li><a href="/product" class="site-nav">Women<i class="anm anm-plus-l"></i></a>
                    
                    <ul>
                        <li><a href="/shopwomen/Tops" class="site-nav">Tops</a></li>
                        <li><a href="/shopwomen/Dresses" class="site-nav">Dresses</a></li>
                        <li><a href="/shopwomen/Jeans&Pants" class="site-nav">Jeans & Pants</a></li>
                        <li><a href="/shopwomen/Skirts&Shorts" class="site-nav">Skirts & Shorts</a></li>
                        <li><a href="/shopwomen/Sweaters" class="site-nav">Sweaters</a></li>
                        <li><a href="/shopwomen/Jackets&Coats" class="site-nav">Jackets & Coats</a></li>
                        <li><a href="/shopwomen/Flats&Sandals" class="site-nav">Flats & Sandals</a></li>
                        <li><a href="/shopwomen/Heels&Wedges" class="site-nav">Heels & Wedges</a></li>
                        <li><a href="/shopwomen/Sneakers&CasualShoes" class="site-nav">Sneakers & Casual Shoes</a></li>
                    </ul>
                          </li>
                <li class="lvl1 parent megamenu"><a href="/">Kids <span style="background-color: red;border-radius: 5px; padding: 1px;">Coming soon!</span><i
                    class="anm anm-angle-down-l"></i></a>
           
        </li>
                <li class="lvl1"><a href="#">New Arrivals</a>
                </li>

                <li class="lvl1 parent dropdown"><a href="/contactus">Contact Us</a>
                </li>

                <li class="list-inline-item"><a href="/myaccount" style="color: #deb992; font-weight: 500; display: none;">My Account</a>
                </li>
                {% endif %}

            </ul>



        </div>
        <!--End Mobile Menu-->

        <!--Body Content-->
        <div id="page-content">
            <!--Page Title-->
            <div class="page section-header text-center">
                <div class="page-title" style="margin-top: 5%;">
                    <div class="wrapper" style="margin-top: 80px;">
                        <h1 class="page-width"
                            style="background-color: #deb992; color: #081525; font-weight: 500; font-size: x-large;">
                            Shopping Cart</h1>
                    </div>
                </div>
            </div>
            <!--End Page Title-->

            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                        <!-- <div class="alert alert-success text-uppercase" role="alert">
                            <i class="icon anm anm-truck-l icon-large"></i> &nbsp;<strong>Congratulations!</strong>
                            You've got free shipping!
                        </div> -->
                        <form action="#" method="post" class="cart style2">
                            <div class="table-responsive">
                                <table>
                                    <thead class="cart__header">
                                        <tr>
                                            <th colspan="2" class="text-center">Product</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-right">Total</th>
                                            <th class="action">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart_items %}
                                        <tr class="cart__row border-bottom line1 cart-flex border-top">
                                            <td class="cart__image-wrapper cart-flex-item">
                                                <a href="#"><img class="cart__image" src="{{ item[0] }}"
                                                        alt="{{ item[1] }}"></a>
                                            </td>
                                            <td class="cart__meta small--text-left cart-flex-item">
                                                <div class="list-view-item__title">
                                                    <a href="#">{{ item[1] }} </a>
                                                </div>

                                                <div class="cart__meta-text">
                                                    Size: {{ item[2] }}
                                                </div>
                                                <div class="cart__meta1-text">
                                                    Color: {{ item[6] }}
                                                </div>
                                            </td>
                                            <td class="cart__price-wrapper cart-flex-item">
                                                <span class="money">{{ item[3] }}</span>
                                            </td>
                                            <td class="cart__update-wrapper cart-flex-item text-right">
                                                <div class="cart__qty text-center">
                                                    <div class="qtyField">
                                                        <a class="qtyBtn minus"
                                                            href="javascript:void(0);" {% if item[4] == 2 and item[1].split(',')|length > 1 %}style="display: none;"{% endif %}><i
                                                                class="icon icon-minus" ></i></a>
                                                        <input
                                                            class="cart__qty-input qty {% if item[7] %}disabled{% endif %}"
                                                            type="text" name="updates[]" id="qty" value="{{ item[4] }}"
                                                            {% if item[7] %}disabled{% endif %} pattern="[0-9]*">

                                                        <a class="qtyBtn plus"
                                                            href="javascript:void(0);" {% if item[4] == 2 and item[1].split(',')|length > 1 %}style="display: none;"{% endif %}><i
                                                                class="icon icon-plus"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right small--hide cart-price">
                                                <div><span class="money">{{ item[5] }}</span></div>
                                            </td>
                                            <td class="text-center small--hide">
                                                <a href="/remove-from-cart/{{ item[1] }}/{{ item[2] }}/{{ item[6] }}"
                                                    class="btn btn--secondary cart__remove" title="Remove item">
                                                    <i class="icon icon anm anm-times-l"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="6" class="text-center" style="color: #869ba9;">Your cart is
                                                empty</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>




                                </table>
                            </div>
                        </form>
                    </div>


                    <div class="container mt-4">
                        <div class="row">
                            <!-- <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                                <h5>Discount Codes</h5>
                                <form action="#" method="post">
                                    <div class="form-group">
                                        <label for="address_zip">Enter your coupon code if you have one.</label>
                                        <input type="text" name="coupon">
                                    </div>
                                    <div class="actionRow">
                                        <div><input type="button" class="btn btn-secondary btn--small"
                                                value="Apply Coupon"></div>
                                    </div>
                                </form>
                            </div> -->
                            <!-- <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                                <h5>Estimate Shipping and Tax</h5>
                                <form action="#" method="post">

                                    <div class="form-group">
                                        <label for="address_zip">Postal/Zip Code</label>
                                        <input type="text" id="address_zip" name="address[zip]">
                                    </div>

                                    <div class="actionRow">
                                        <div><input type="button" class="btn btn-secondary btn--small"
                                                value="Calculate shipping"></div>
                                    </div>
                                </form>
                            </div> -->

                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                                <div class="solid-border">
                                    <div class="row border-bottom pb-2">
                                        <span class="col-12 col-sm-6 cart__subtotal-title">Subtotal</span>
                                        <span class="col-12 col-sm-6 text-right">
                                            <span class="money">${{ subtotal }}</span> <!-- Display dynamic subtotal -->
                                            <p style="margin-top: 5px; color: #869ba9;"><i>(Total Items: {{total_quantity}})</i></p>
                                        </span>
                                        
                                    </div>

                                    <div class="row border-bottom pb-2 pt-2">
                                        <span class="col-12 col-sm-6 cart__subtotal-title">Shipping</span>
                                        <span class="col-12 col-sm-6 text-right">${{ shipping_charges }}</span>
                                    </div>

                                    <div class="row border-bottom pb-2 pt-2">
                                        <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Grand
                                                Total</strong></span>
                                        <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right">
                                            <span class="money">${{ grand_total }}</span>
                                            <!-- Display dynamic grand total -->
                                        </span>
                                    </div>
                                    <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                                    <p class="cart_tearm">
                                        <label>
                                            <input type="checkbox" name="tearm" class="checkbox" value="tearm"
                                                required="">
                                            I agree with the terms and conditions
                                        </label>
                                    </p>
                                    <a href="/checkout"
                                        class="checkout-link {% if cart_count == 0 %}disabled-link{% endif %}">
                                        <input type="submit" name="checkout" id="cartCheckout"
                                            class="btn btn--small-wide checkout" value="Proceed To Checkout" {% if
                                            cart_count==0 %}disabled{% endif %}>
                                    </a>
                                    <div class="paymnet-img" style="margin-top: 1%;"><img
                                            src="../static/images/payment-img.jpg" alt="Payment"></div>
                                    <!-- <p><a href="checkout.html">Checkout with Multiple Addresses</a></p> -->
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!--End Body Content-->

        <!--Footer-->
        <footer id="footer">


            <div class="site-footer">
        
                <div class="container">
                    <hr>
                    <!--Footer Links-->
                    <div class="footer-top">
        
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Quick Shop</h4>
                                <ul>
                                    <li><a href="/shopwomen">Women</a></li>
                                    <li><a href="/shopfullwidth">Men</a></li>
                                    <li><a href="#">Kids</a></li>
                                    <li><a href="#">Footwear</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Informations</h4>
                                <ul>
                                    <li><a href="/aboutus">About us</a></li>
                                    <!-- <li><a href="#">Careers</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                    <li><a href="#">Terms &amp; condition</a></li> -->
                                    <li><a href="/myaccount">My Account</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Customer Services</h4>
                                <ul>
                                    <!-- <li><a href="#">Request Personal Data</a></li>
                                    <li><a href="#">FAQ's</a></li> -->
                                    <li><a href="/contactus">Contact Us</a></li>
                                    <li><a href="#">Orders and Returns</a></li>
                                    <!-- <li><a href="#">Support Center</a></li> -->
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                                <h4 class="h4">Contact Us</h4>
                                <ul class="addressFooter">
                                    <li><i class="icon anm anm-map-marker-al" style="color: #deb992 !important;"></i>
                                        <p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p>
                                    </li>
                                    <li class="phone"><i class="icon anm anm-phone-s"
                                            style="color: #deb992 !important; "></i>
                                        <p>+91 123456789</p>
                                    </li>
                                    <li class="email"><i class="icon anm anm-envelope-l"
                                            style="color: #deb992 !important; "></i>
                                        <p>sales@yousite.com</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Footer Links-->
                    <hr>
                    <div class="footer-bottom">
        
                        <p class="text-center" style="font-size: medium; font-weight: 500; color: #1ba098;">Designed By
                            Websharks</p>
        
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
        <!--Scoll Top-->
        <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
        <!--End Scoll Top-->

        <!-- Including Jquery -->
        <script src="../static/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="../static/js/vendor/jquery.cookie.js"></script>
        <script src="../static/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="../static/js/vendor/wow.min.js"></script>
        <!-- Including Javascript -->
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/lazysizes.js"></script>
        <script src="../static/js/main.js"></script>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.cart__row').forEach(row => {
                let productName = row.querySelector('.list-view-item__title a').innerText;
                let productSize = row.querySelector('.cart__meta-text').innerText.split('Size: ')[1];
                let productColor = row.querySelector('.cart__meta1-text').innerText.split('Color: ')[1];
                let pricePerItem = parseFloat(row.querySelector('.cart__price-wrapper .money').innerText);
                let quantityInput = row.querySelector('.cart__qty-input');
                let newQuantity = parseInt(quantityInput.value);
    
                // Calculate new total price
                let newTotalPrice = newQuantity * pricePerItem;
    
                // Fetch products total price
                fetch('/get-product-price', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        productName: productName,
                        color: productColor,
                        size: productSize
                    }),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            console.error(data.error);
                            return;
                        }
    
                        let productsTotalPrice = parseFloat(data.totalprice);
    
                        if (newTotalPrice < productsTotalPrice) {
                    row.querySelector('.plus').style.display = 'none';
                    row.querySelector('.minus').style.display = 'none';
                } else {
                    row.querySelector('.plus').style.display = '';
                    row.querySelector('.minus').style.display = '';
                }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>
    
    <script>

        document.getElementById('cartCheckout').addEventListener('click', function (event) {
            // Check if the checkbox is checked
            var checkbox = document.querySelector('input[name="tearm"]');
            if (!checkbox.checked) {
                // Prevent the redirect if checkbox is not checked
                event.preventDefault();
                alert("You must agree with the terms and conditions to proceed.");
            }
        });
        // Function to handle quantity change
        function updateQuantity(element, productName, productSize, productColor, pricePerItem) {
            let quantityInput = element.parentNode.querySelector('.cart__qty-input');
            let newQuantity = parseInt(quantityInput.value);

            if (isNaN(newQuantity) || newQuantity < 1) {
                newQuantity = 1; // Minimum quantity is 1
            }

            // Calculate new total price for this product
            let newTotalPrice = newQuantity * pricePerItem;
            element.closest('tr').querySelector('.cart-price .money').innerText = newTotalPrice.toFixed(2);

            // Update the database using AJAX
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/update-cart-item', true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log('Cart updated successfully');
                    location.reload();
                }
            };
            xhr.send(JSON.stringify({
                productName: productName,
                productSize: productSize,
                productColor: productColor,
                newQuantity: newQuantity,
                newTotalPrice: newTotalPrice
            }));
        }

        // Handle plus/minus buttons click
        document.querySelectorAll('.qtyBtn').forEach(button => {
            button.addEventListener('click', function () {
                // Skip processing if button is disabled
                if (this.classList.contains('disabled')) return;

                let productName = this.closest('tr').querySelector('.list-view-item__title a').innerText;
                let productSize = this.closest('tr').querySelector('.cart__meta-text').innerText.split('Size: ')[1];
                let productColor = this.closest('tr').querySelector('.cart__meta1-text').innerText.split('Color: ')[1];
                let pricePerItem = parseFloat(this.closest('tr').querySelector('.cart__price-wrapper .money').innerText);

                updateQuantity(this, productName, productSize, productColor, pricePerItem);
            });
        });
</script>
</body>

</html>