<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Cart Page</title>
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<!-- Plugins CSS -->
<link rel="stylesheet" href="../static/css/plugins.css">
<!-- Bootstap CSS -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/responsive.css">
</head>
<body class="page-template cart-variant1">
<div class="pageWrapper">
	<!--Search Form Drawer-->
	<div class="search">
        <div class="search__form">
            <form class="search-bar__form" action="#">
                <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
            </form>
            <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
        </div>
    </div>
    <!--End Search Form Drawer-->
    <!--Top Header-->
    <div class="top-header" style="background-color: #081525;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Centered Tagline Section -->
                <div class="col-sm-12 col-md-4 offset-md-4 text-center">
                    <p class="top-header_middle-text" style="color: #1ba098; font-weight: 500;">Effortless Style. Redefined for You.</p>
                </div>
                <!-- Right Aligned Login and Create Account -->
                <div class="col-sm-12 col-md-4 text-right">
                    <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                    <ul class="customer-links list-inline mb-0">
                        <li class="list-inline-item"><a href="wishlist.html" target="_blank" style="color: #1ba098; font-weight: 500;">Admin</a></li>
                        <li class="list-inline-item"><a href="login.html" style="color: #1ba098; font-weight: 500;">Login</a></li>
                        <li class="list-inline-item"><a href="register.html" style="color: #1ba098; font-weight: 500;">Create Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>   
    <!--End Top Header-->
  <!--Header-->
  <div class="header-wrap classicHeader animated d-flex" style="background-color: #081525;">
    <div class="container-fluid">        
        <div class="row align-items-center">
            <!--Desktop Logo-->
            <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                <a href="/">
                    <h3>LOGO</h3>
                    <!-- <img src="../static/images/logo.svg" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" /> -->
                </a>
            </div>
            <!--End Desktop Logo-->
            <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                <div class="d-block d-lg-none">
                    <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        <i class="icon anm anm-times-l"></i>
                        <i class="anm anm-bars-r"></i>
                    </button>
                </div>
                <!--Desktop Menu-->
                <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                    <ul id="siteNav" class="site-nav medium center hidearrow">
                        <li class="lvl1 parent megamenu"><a href="/">Home <i class="anm anm-angle-down-l"></i></a>
                        </li>
                        <li class="lvl1 parent megamenu"><a href="#">Men<i class="anm anm-angle-down-l"></i></a>
                            <div class="megamenu style4">
                                <ul class="grid grid--uniform mmWrapper">
                                    <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1">Shirts</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Dress Shirt</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Oxford Shirt</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Flannel Shirt</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Henley Shirt</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Chambray Shirt</a></li>
                                        </ul>
                                      </li>
                                      <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1">Tshirts</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Crew Neck T-shirt <span class="lbl nm_label3">Hot</span></a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">V-neck T-shirt</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Polo T-shirt</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Graphic T-shirt</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Long Sleeve T-shirt</a></li>
                                        </ul>
                                      </li>
                                      <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1">Trousers</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Chinos <span class="lbl nm_label3">Hot</span></a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Jeans</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Dress Pants</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Cargo Pants</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Joggers</a></li>
                                            
                                        </ul>
                                      </li>
                                      <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1">Shoes</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Sneakers <span class="lbl nm_label3">Hot</span></a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Loafers</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Boots</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Derby Shoes</a></li>
                                            <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Oxford Shoes</a></li>
                                        </ul>
                                      </li>
                                </ul>
                              </div>
                        </li>
                    <li class="lvl1 parent megamenu"><a href="#">Women<i class="anm anm-angle-down-l"></i></a>
                        <div class="megamenu style4">
                            <ul class="grid grid--uniform mmWrapper">
                                <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1">Western Wear</a>
                                    <ul class="subLinks">
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Denim Jacket</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Skinny Jeans</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Bodycon Dress</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Blazer</a></li>
                                        <li class="lvl-2"><a href="shop-grid-5.html" class="site-nav lvl-2">Jumpsuit</a></li>
                                    </ul>
                                  </li>
                                  <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1">Ethnic Wear</a>
                                    <ul class="subLinks">
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Saree <span class="lbl nm_label3">Hot</span></a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Salwar Kameez</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Lehenga Choli</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Kurti</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Anarkali Suit</a></li>
                                    </ul>
                                  </li>
                                  <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1">Lingerie & Nightwear</a>
                                    <ul class="subLinks">
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Underwire Bra <span class="lbl nm_label3">Hot</span></a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Boyshorts</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Lace Panties</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Nightgown</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Bodysuit</a></li>
                                        
                                    </ul>
                                  </li>
                                  <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1">Sportswear</a>
                                    <ul class="subLinks">
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Sports Bra</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Leggings</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Tank Tops</a></li>
                                        <li class="lvl-2"><a href="/shopfullwidth" class="site-nav lvl-2">Running Shorts</a></li>
                                        <li class="lvl-2"><a href="shop-grid-5.html" class="site-nav lvl-2">Track Jackets</a></li>
                                    </ul>
                                  </li>
                            </ul>
                          </div>
                    </li>
                    <li class="lvl1 parent dropdown"><a href="#">New Arrivals <i class="anm anm-angle-down-l"></i></a>
                    </li>
                    <li class="lvl1 parent dropdown"><a href="Myaccount.html">My Account <i class="anm anm-angle-down-l"></i></a>
                    </li>
                    <li class="lvl1 parent dropdown"><a href="contact-us.html">Contact Us <i class="anm anm-angle-down-l"></i></a>
                    </li>
                  </ul>
                </nav>
                <!--End Desktop Menu-->
            </div>
            <!--Mobile Logo-->
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                <div class="logo">
                    <a href="/">
                        <!-- <img src="../static/images/logo.svg" alt="" /> -->
                         <h3>LOGO</h3>
                    </a>
                </div>
            </div>
            <!--Mobile Logo-->
            <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                <div class="site-cart">
                    <a href="/cart" title="Cart">
                        <i class="anm anm-bag-l" style="color: #deb992; font-size: 22px !important;"></i>
                        <!-- <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">2</span> -->
                    </a>
                    <!--Minicart Popup-->
                    <!-- <div id="header-cart" class="block block-cart">
                        <ul class="mini-products-list">
                            <li class="item">
                                <a class="product-image" href="#">
                                    <img src="../static/images/product-images/cape-dress-1.jpg" alt="3/4 Sleeve Kimono Dress" title="" />
                                </a>
                                <div class="product-details">
                                    <a href="#" class="remove"><i class="anm anm-times-l" aria-hidden="true"></i></a>
                                    <a href="#" class="edit-i remove"><i class="anm anm-edit" aria-hidden="true"></i></a>
                                    <a class="pName" href="/cart">Sleeve Kimono Dress</a>
                                    <div class="variant-cart">Black / XL</div>
                                    <div class="wrapQtyBtn">
                                        <div class="qtyField">
                                            <span class="label">Qty:</span>
                                            <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                            <input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
                                            <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="priceRow">
                                        <div class="product-price">
                                            <span class="money">₹59.00</span>
                                        </div>
                                     </div>
                                </div>
                            </li>
                            <li class="item">
                                <a class="product-image" href="#">
                                    <img src="../static/images/product-images/cape-dress-2.jpg" alt="Elastic Waist Dress - Black / Small" title="" />
                                </a>
                                <div class="product-details">
                                    <a href="#" class="remove"><i class="anm anm-times-l" aria-hidden="true"></i></a>
                                    <a href="#" class="edit-i remove"><i class="anm anm-edit" aria-hidden="true"></i></a>
                                    <a class="pName" href="/cart">Elastic Waist Dress</a>
                                    <div class="variant-cart">Gray / XXL</div>
                                    <div class="wrapQtyBtn">
                                        <div class="qtyField">
                                            <span class="label">Qty:</span>
                                            <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                            <input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
                                            <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                       <div class="priceRow">
                                        <div class="product-price">
                                            <span class="money">₹99.00</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="total">
                            <div class="total-in">
                                <span class="label">Cart Subtotal:</span><span class="product-price"><span class="money">₹748.00</span></span>
                            </div>
                             <div class="buttonSet text-center">
                                <a href="/cart" class="btn btn-secondary btn--small">View Cart</a>
                                <a href="checkout.html" class="btn btn-secondary btn--small">Checkout</a>
                            </div>
                        </div>
                    </div> -->
                    <!--EndMinicart Popup-->
                </div>
                <div class="site-header__search">
                    <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header-->
<!--Mobile Menu-->
<div class="mobile-nav-wrapper" role="navigation">
    <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
    <ul id="MobileNav" class="mobile-nav">
        <li class="lvl1 parent megamenu"><a href="/">Home</a>

    </li>
   
 
        <li><a href="#" class="site-nav">Men<i class="anm anm-plus-l"></i></a>
          <ul>
            <li><a href="/shopfullwidth" class="site-nav">Shirts</a></li>
            <li><a href="/shopfullwidth" class="site-nav">Tshirts</a></li>
            <li><a href="/shopfullwidth" class="site-nav">Trousers</a></li>
            <li><a href="/shopfullwidth" class="site-nav">Shoes</a></li>
            <li><a href="/shopfullwidth" class="site-nav">Henley Shirt</a></li>
            <li><a href="/shopfullwidth" class="site-nav">Chambray Shirt</a></li>
          </ul>
        </li>
        <!-- <li><a href="#" class="site-nav">Shop Features<i class="anm anm-plus-l"></i></a>
          <ul>
            <li><a href="/shopfullwidth" class="site-nav">Product Countdown </a></li>
            <li><a href="/shopfullwidth" class="site-nav">Infinite Scrolling</a></li>
            <li><a href="/shopfullwidth" class="site-nav">Pagination - Classic</a></li>
            <li><a href="/shopfullwidth" class="site-nav">Pagination - Load More</a></li>
            <li><a href="/shopfullwidth" class="site-nav">Dynamic Product Labels</a></li>
            <li><a href="product-swatches-style.html" class="site-nav">Product Swatches </a></li>
            <li><a href="product-hover-info.html" class="site-nav">Product Hover Info</a></li>
            <li><a href="/shopfullwidth" class="site-nav">Product Reviews</a></li>
            <li><a href="/shopfullwidth" class="site-nav last">Discount Label </a></li>
          </ul>
        </li> -->

        
      <ul>
        <li><a href="/product" class="site-nav">Women<i class="anm anm-plus-l"></i></a>
            <ul>
              <li><a href="/product" class="site-nav">Western Wear</a></li>
              <li><a href="/product" class="site-nav">Ethnic Wear</a></li>
              <li><a href="/product" class="site-nav">Lingerie & Nightwear</a></li>
              <li><a href="/product" class="site-nav">Sportswear</a></li>
            </ul>
          </li>
        <li class="lvl1"><a href="#">New Arrivals</a>
    </li>
  </ul>
</div>
<!--End Mobile Menu-->
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title" style="margin-top: 5%;">
        		<div class="wrapper"><h1 class="page-width" style="margin-top: 4%; background-color: #deb992; color: #081525; font-weight: 500; font-size: x-large;">Shopping Cart</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<div class="alert alert-success text-uppercase" role="alert">
						<i class="icon anm anm-truck-l icon-large"></i> &nbsp;<strong>Congratulations!</strong> You've got free shipping!
					</div>
                	<form action="#" method="post" class="cart style2">
                		<table>
                            <thead class="cart__row cart__header">
                                <tr>
                                    <th colspan="2" class="text-center">Product</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-right">Total</th>
                                    <th class="action">&nbsp;</th>
                                </tr>
                            </thead>
                    		<tbody>
                                {% for item in cart_items %}
                                <tr class="cart__row border-bottom line1 cart-flex border-top">
                                    <td class="cart__image-wrapper cart-flex-item">
                                        <a href="#"><img class="cart__image" src="{{ item[0] }}" alt="{{ item[1] }}"></a>
                                    </td>
                                    <td class="cart__meta small--text-left cart-flex-item">
                                        <div class="list-view-item__title">
                                            <a href="#">{{ item[1] }} </a>
                                        </div>
                                        
                                        <div class="cart__meta-text">
                                            Size: {{ item[2] }}
                                        </div>
                                        <div class="cart__meta-text">
                                            Color: {{ item[6] }}
                                        </div>
                                    </td>
                                    <td class="cart__price-wrapper cart-flex-item">
                                        <span class="money">{{ item[3] }}</span>
                                    </td>
                                    <td class="cart__update-wrapper cart-flex-item text-right">
                                        <div class="cart__qty text-center">
                                            <div class="qtyField">
                                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon icon-minus"></i></a>
                                                <input class="cart__qty-input qty" type="text" name="updates[]" id="qty" value="{{ item[4] }}" pattern="[0-9]*">
                                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon icon-plus"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right small--hide cart-price">
                                        <div><span class="money">{{ item[5] }}</span></div>
                                    </td>
                                    <td class="text-center small--hide"><a href="/remove-from-cart/{{ item[1] }}/{{ item[2] }}" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="6" class="text-center" style="color: #869ba9;">Your cart is empty</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3" class="text-left"><a href="/shopfullwidth" class="btn btn-secondary btn--small cart-continue">Continue shopping</a></td>
                                    <td colspan="3" class="text-right">
	                            
                                        <a href="/clear-cart" class="btn btn-secondary btn--small cart-continue">Clear Cart</a></td>
                                        
                                    	<!-- <button type="submit" name="update" class="btn btn-secondary btn--small cart-continue ml-2">Update Cart</button> -->
                                    </td>
                                </tr>
                            </tbody>
                    	
                                
                            
                    </table> 
                    </form>                   
               	</div>
                
                
                <div class="container mt-4">
                    <div class="row">
                    	<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                        	<h5>Discount Codes</h5>
                            <form action="#" method="post">
                            	<div class="form-group">
                                    <label for="address_zip">Enter your coupon code if you have one.</label>
                                    <input type="text" name="coupon">
                                </div>
                                <div class="actionRow">
                                    <div><input type="button" class="btn btn-secondary btn--small" value="Apply Coupon"></div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                        	<h5>Estimate Shipping and Tax</h5>
							<form action="#" method="post">
                               
                                <div class="form-group">
                                    <label for="address_zip">Postal/Zip Code</label>
                                    <input type="text" id="address_zip" name="address[zip]">
                                </div>
    
                                <div class="actionRow">
                                    <div><input type="button" class="btn btn-secondary btn--small" value="Calculate shipping"></div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                            <div class="solid-border">	
                                <div class="row border-bottom pb-2">
                                    <span class="col-12 col-sm-6 cart__subtotal-title">Subtotal</span>
                                    <span class="col-12 col-sm-6 text-right">
                                        <span class="money">${{ subtotal }}</span>  <!-- Display dynamic subtotal -->
                                    </span>
                                </div>
                                
                                <div class="row border-bottom pb-2 pt-2">
                                    <span class="col-12 col-sm-6 cart__subtotal-title">Shipping</span>
                                    <span class="col-12 col-sm-6 text-right">${{ shipping_charges }}</span>
                                </div>
                                
                                <div class="row border-bottom pb-2 pt-2">
                                    <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Grand Total</strong></span>
                                    <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right">
                                        <span class="money">${{ grand_total }}</span>  <!-- Display dynamic grand total -->
                                    </span>
                                </div>
                              <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                              <p class="cart_tearm">
                                <label>
                                  <input type="checkbox" name="tearm" class="checkbox" value="tearm" required="">
                                  I agree with the terms and conditions
								</label>
                              </p>
                                <a href="/checkout">
                                    <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Proceed To Checkout">

                                </a>                              
                              <div class="paymnet-img" style="margin-top: 1%;"><img src="../static/images/payment-img.jpg" alt="Payment"></div>
                              <!-- <p><a href="checkout.html">Checkout with Multiple Addresses</a></p> -->
                            </div>
        
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
  <!--Footer-->
  <footer id="footer">
        
      
    <div class="site-footer">
        
        <div class="container">
            <hr>
             <!--Footer Links-->
            <div class="footer-top">
            
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Quick Shop</h4>
                        <ul>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Kids</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Informations</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Terms &amp; condition</a></li>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Customer Services</h4>
                        <ul>
                            <li><a href="#">Request Personal Data</a></li>
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Orders and Returns</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                        <h4 class="h4">Contact Us</h4>
                        <ul class="addressFooter">
                            <li><i class="icon anm anm-map-marker-al" style="color: #deb992 !important;"></i><p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p></li>
                            <li class="phone"><i class="icon anm anm-phone-s" style="color: #deb992 !important; "></i><p>+91 123456789</p></li>
                            <li class="email"><i class="icon anm anm-envelope-l" style="color: #deb992 !important; "></i><p>sales@yousite.com</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Footer Links-->
            <hr>
            <div class="footer-bottom">
                
                    <p class="text-center" style="font-size: medium; font-weight: 500; color: #1ba098;">Designed By Websharks</p>
        
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    
     <!-- Including Jquery -->
     <script src="../static/js/vendor/jquery-3.3.1.min.js"></script>
     <script src="../static/js/vendor/jquery.cookie.js"></script>
     <script src="../static/js/vendor/modernizr-3.6.0.min.js"></script>
     <script src="../static/js/vendor/wow.min.js"></script>
     <!-- Including Javascript -->
     <script src="../static/js/bootstrap.min.js"></script>
     <script src="../static/js/plugins.js"></script>
     <script src="../static/js/popper.min.js"></script>
     <script src="../static/js/lazysizes.js"></script>
     <script src="../static/js/main.js"></script>
</div>

<script>
    // Function to handle quantity change
    function updateQuantity(element, productName, productSize, pricePerItem) {
        let quantityInput = element.parentNode.querySelector('.cart__qty-input');
        let newQuantity = parseInt(quantityInput.value);

        if (isNaN(newQuantity) || newQuantity < 1) {
            newQuantity = 1; // Minimum quantity is 1
        }

        // Calculate new total price for this product
        let newTotalPrice = newQuantity * pricePerItem;
        element.closest('tr').querySelector('.cart-price .money').innerText = newTotalPrice.toFixed(2);

        // Update the database using AJAX
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/update-cart-item', true);
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log('Cart updated successfully');
            }
        };
        xhr.send(JSON.stringify({
            productName: productName,
            productSize: productSize,
            newQuantity: newQuantity,
            newTotalPrice: newTotalPrice
        }));
    }

    // Handle plus/minus buttons click
    document.querySelectorAll('.qtyBtn').forEach(button => {
        button.addEventListener('click', function() {
            let productName = this.closest('tr').querySelector('.list-view-item__title a').innerText;
            let productSize = this.closest('tr').querySelector('.cart__meta-text').innerText.split('Size: ')[1];
            let pricePerItem = parseFloat(this.closest('tr').querySelector('.cart__price-wrapper .money').innerText);
            
            updateQuantity(this, productName, productSize, pricePerItem);
        });
    });
</script>
</body>

</html>