<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle//register   11 Nov 2019 12:22:27 GMT -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Create an Account</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="../static/images/logo/faviconblack.png" type="image/png">
    <!-- <link rel="shortcut icon" href="../static/images/favicon.png" /> -->
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../static/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>

<body class="page-template belle">
    <div class="pageWrapper">
        <!--Search Form Drawer-->
        <!-- <div class="search">
        <div class="search__form">
            <form class="search-bar__form" action="#">
                <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
            </form>
            <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
        </div>
    </div> -->
        <!--End Search Form Drawer-->
        <!--Top Header-->
        <div class="top-header" style="background-color: #081525;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Centered Tagline Section -->
                    <div class="col-sm-12 col-md-4 offset-md-4 text-center top-headerdiv">
                        <p class="top-header_middle-text" style="color: #deb992;">Effortless Style. Redefined for You.
                        </p>
                    </div>
                    <!-- Right Aligned Login and Create Account -->
                    <div class="col-sm-12 col-md-4 text-right accountlogo">
                        <span class="user-menu d-block d-lg-none">
                            <i class="anm anm-user-al" aria-hidden="true" style="color: #deb992;"></i>
                        </span>
                        <ul class="customer-links list-inline mb-0">
                            {% if session['logged_in'] %}
                            <!-- User is logged in -->
                            {% if session['is_admin'] %}
                            <li class="list-inline-item"><a href="/wishlist" target="_blank"
                                    style="color: #deb992; font-weight: 500;">Admin</a></li>
                            {% endif %}
                            <li class="list-inline-item" style="display: none;"><a href="/login"
                                    style="color: #deb992; font-weight: 500;">Login</a></li>
                            <li class="list-inline-item" style="display: none;"><a href="/register"
                                    style="color: #deb992; font-weight: 500;">Create Account</a></li>

                            <!-- Show "My Account" and "Logout" when logged in -->
                            <li class="list-inline-item"><a href="/myaccount"
                                    style="color: #deb992; font-weight: 500;">My
                                    Account</a></li>
                            <li class="list-inline-item"><a href="/logout"
                                    style="color: #deb992; font-weight: 500;">Logout</a></li>
                            {% else %}
                            <!-- User is not logged in -->
                            <li class="list-inline-item" style="display: none;"><a href="/wishlist" target="_blank"
                                    style="color: #deb992; font-weight: 500;">Admin</a></li>
                            <li class="list-inline-item"><a href="/login"
                                    style="color: #deb992; font-weight: 500;">Login</a></li>
                            <li class="list-inline-item"><a href="/register"
                                    style="color: #deb992; font-weight: 500;">Create Account</a></li>
                            <li class="list-inline-item" style="display: none;"><a href="/myaccount"
                                    style="color: #deb992; font-weight: 500; display: none;">My Account</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Top Header-->
        <!--Header-->
        <div class="header-wrap classicHeader animated d-flex">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!--Desktop Logo-->
                    <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                        <a href="/">
                            <div style="display: flex;align-items: center;">
                                <img src="../static/images/logo/newlogo.png" width="80px" alt="FashionHolics"
                                    title="FashionHolics" />
                                <h3
                                    style="color: #deb992;font-family: Poppins, Helvetica, Tahoma, Arial, serif;font-weight: 600;margin-bottom: 0px;white-space: nowrap;font-size: 1vw;">
                                    FASHION HOLICS</h3>
                            </div>
                        </a>

                    </div>
                    <!--End Desktop Logo-->
                    <div class="col-2 col-sm-3 col-md-3 col-lg-8"
                        style="display: flex; justify-content: center; align-items: center; height: 100%;">
                        <div class="d-block d-lg-none">
                            <button type="button"
                                class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                <i class="icon anm anm-times-l" style="color: #deb992;"></i>
                                <i class="anm anm-bars-r" style="color: #deb992;"></i>
                            </button>
                        </div>
                        <!--Desktop Menu-->
                        <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                {% if session['logged_in'] %}
                                <li class="lvl1 parent megamenu"><a href="/">Home <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent megamenu"><a href="/shopfullwidth">Men<i
                                            class="anm anm-angle-down-l"></i></a>
                                    <div class="megamenu style4">
                                        <ul class="grid grid--uniform mmWrapper">
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Top Wear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopfullwidth/Tshirts"
                                                            class="site-nav lvl-2">T-Shirts</a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/Shirts"
                                                            class="site-nav lvl-2">Shirts</a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/Jackets&Hoodies"
                                                            class="site-nav lvl-2">Jackets & Hoodies</a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/Sweaters&Sweatshirts"
                                                            class="site-nav lvl-2">Sweaters & Sweatshirts</a></li>
                                                </ul>
                                            </li>
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Bottom Wear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopfullwidth/Jeans&Trousers"
                                                            class="site-nav lvl-2">Jeans & Trousers<span
                                                                class="lbl nm_label3">Hot</span></a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/Shorts&Chinos"
                                                            class="site-nav lvl-2">Shorts & Chinos</a></li>
                                                </ul>
                                            </li>
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Foot Wear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopfullwidth/Sneakers&CasualShoes"
                                                            class="site-nav lvl-2">Sneakers & Casual Shoes<span
                                                                class="lbl nm_label3">Hot</span></a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/FormalShoes"
                                                            class="site-nav lvl-2">Formal Shoes</a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/Sandals&Slippers"
                                                            class="site-nav lvl-2">Sandals & Slippers</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="lvl1 parent megamenu"><a href="/shopwomen">Women<i
                                            class="anm anm-angle-down-l"></i></a>
                                    <div class="megamenu style4">
                                        <ul class="grid grid--uniform mmWrapper">
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Top Wear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopwomen/Tops"
                                                            class="site-nav lvl-2">Tops</a></li>
                                                    <li class="lvl-2"><a href="/shopwomen/Dresses"
                                                            class="site-nav lvl-2">Dresses</a></li>
                                                    <li class="lvl-2"><a href="/shopwomen/Sweaters"
                                                            class="site-nav lvl-2">Sweaters</a></li>
                                                    <li class="lvl-2"><a href="/shopwomen/Jackets&Coats"
                                                            class="site-nav lvl-2">Jackets & Coats</a></li>
                                                </ul>
                                            </li>
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Bottom Wear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopwomen/Jeans&Pants"
                                                            class="site-nav lvl-2">Jeans & Pants
                                                            <!-- <span class="lbl nm_label3">Hot</span></a></li> -->
                                                    <li class="lvl-2"><a href="/shopwomen/Skirts&Shorts"
                                                            class="site-nav lvl-2">Skirts & Shorts</a></li>
                                                </ul>
                                            </li>
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Footwear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopwomen/Flats&Sandals"
                                                            class="site-nav lvl-2">Flats & Sandals<span
                                                                class="lbl nm_label3">Hot</span></a></li>
                                                    <li class="lvl-2"><a href="/shopwomen/Heels&Wedges"
                                                            class="site-nav lvl-2">Heels & Wedges</a></li>
                                                    <li class="lvl-2"><a href="/shopwomen/Sneakers&CasualShoes"
                                                            class="site-nav lvl-2">Sneakers & Casual Shoes</a></li>

                                                </ul>
                                            </li>
                                            <!-- <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                    class="site-nav lvl-1">Sportswear</a>
                                <ul class="subLinks">
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Sports
                                            Bra</a></li>
                                    <li class="lvl-2"><a href="/shopwomen"
                                            class="site-nav lvl-2">Leggings</a></li>
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Tank
                                            Tops</a></li>
                                    <li class="lvl-2"><a href="/shopwomen"
                                            class="site-nav lvl-2">Running Shorts</a></li>
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Track
                                            Jackets</a></li>
                                </ul>
                            </li> -->
                                        </ul>
                                    </div>
                                </li>
                                <li class="lvl1 parent megamenu"><a href="/">Kids <span
                                            style="background-color: red;border-radius: 5px; padding: 1px;">Coming
                                            soon!</span><i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <!-- <li class="lvl1 parent dropdown"><a href="#">New Arrivals <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li> -->

                                <li class="lvl1 parent dropdown"><a href="/contactus">Contact Us <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown"><a href="/aboutus">About Us <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown"><a href="/myaccount">My Account <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                {% else %}
                                <li class="lvl1 parent megamenu"><a href="/">Home <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent megamenu"><a href="/shopfullwidth">Men<i
                                            class="anm anm-angle-down-l"></i></a>
                                    <div class="megamenu style4">
                                        <ul class="grid grid--uniform mmWrapper">
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Top Wear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopfullwidth/Tshirts"
                                                            class="site-nav lvl-2">T-Shirts</a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/Shirts"
                                                            class="site-nav lvl-2">Shirts</a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/Jackets&Hoodies"
                                                            class="site-nav lvl-2">Jackets & Hoodies</a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/Sweaters&Sweatshirts"
                                                            class="site-nav lvl-2">Sweaters & Sweatshirts</a></li>
                                                </ul>
                                            </li>
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Bottom Wear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopfullwidth/Jeans&Trousers"
                                                            class="site-nav lvl-2">Jeans & Trousers<span
                                                                class="lbl nm_label3">Hot</span></a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/Shorts&Chinos"
                                                            class="site-nav lvl-2">Shorts & Chinos</a></li>
                                                </ul>
                                            </li>
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Foot Wear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopfullwidth/Sneakers&CasualShoes"
                                                            class="site-nav lvl-2">Sneakers & Casual Shoes<span
                                                                class="lbl nm_label3">Hot</span></a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/FormalShoes"
                                                            class="site-nav lvl-2">Formal Shoes</a></li>
                                                    <li class="lvl-2"><a href="/shopfullwidth/Sandals&Slippers"
                                                            class="site-nav lvl-2">Sandals & Slippers</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="lvl1 parent megamenu"><a href="/shopwomen">Women<i
                                            class="anm anm-angle-down-l"></i></a>
                                    <div class="megamenu style4">
                                        <ul class="grid grid--uniform mmWrapper">
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Top Wear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopwomen/Tops"
                                                            class="site-nav lvl-2">Tops</a></li>
                                                    <li class="lvl-2"><a href="/shopwomen/Dresses"
                                                            class="site-nav lvl-2">Dresses</a></li>
                                                    <li class="lvl-2"><a href="/shopwomen/Sweaters"
                                                            class="site-nav lvl-2">Sweaters</a></li>
                                                    <li class="lvl-2"><a href="/shopwomen/Jackets&Coats"
                                                            class="site-nav lvl-2">Jackets & Coats</a></li>
                                                </ul>
                                            </li>
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Bottom Wear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopwomen/Jeans&Pants"
                                                            class="site-nav lvl-2">Jeans & Pants
                                                            <!-- <span class="lbl nm_label3">Hot</span></a></li> -->
                                                    <li class="lvl-2"><a href="/shopwomen/Skirts&Shorts"
                                                            class="site-nav lvl-2">Skirts & Shorts</a></li>
                                                </ul>
                                            </li>
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                    class="site-nav lvl-1">Footwear</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="/shopwomen/Flats&Sandals"
                                                            class="site-nav lvl-2">Flats & Sandals<span
                                                                class="lbl nm_label3">Hot</span></a></li>
                                                    <li class="lvl-2"><a href="/shopwomen/Heels&Wedges"
                                                            class="site-nav lvl-2">Heels & Wedges</a></li>
                                                    <li class="lvl-2"><a href="/shopwomen/Sneakers&CasualShoes"
                                                            class="site-nav lvl-2">Sneakers & Casual Shoes</a></li>

                                                </ul>
                                            </li>
                                            <!-- <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                    class="site-nav lvl-1">Sportswear</a>
                                <ul class="subLinks">
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Sports
                                            Bra</a></li>
                                    <li class="lvl-2"><a href="/shopwomen"
                                            class="site-nav lvl-2">Leggings</a></li>
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Tank
                                            Tops</a></li>
                                    <li class="lvl-2"><a href="/shopwomen"
                                            class="site-nav lvl-2">Running Shorts</a></li>
                                    <li class="lvl-2"><a href="/shopwomen" class="site-nav lvl-2">Track
                                            Jackets</a></li>
                                </ul>
                            </li> -->
                                        </ul>
                                    </div>
                                </li>
                                <li class="lvl1 parent megamenu"><a href="/">Kids <span
                                            style="background-color: red;border-radius: 5px; padding: 1px;">Coming
                                            soon!</span><i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent dropdown"><a href="#">New Arrivals <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>

                                <li class="lvl1 parent dropdown"><a href="/contactus">Contact Us <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown"><a href="/aboutus">About Us <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown"><a href="/myaccount" style="display: none;">My Account
                                        <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        <!--End Desktop Menu-->
                    </div>
                    <!--Mobile Logo-->
                    <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                        <div class="logo moblog">
                            <a href="/">
                                <img src="../static/images/logo/newlogo.png" width="80px" alt="FashionHolics"
                                    title="FashionHolics" />

                            </a>
                            <h3
                                style="color: #deb992;font-family: Poppins, Helvetica, Tahoma, Arial, serif;font-weight: 600;margin-bottom: 0px;white-space: nowrap;font-size: 2.5vw;">
                                FASHION HOLICS</h3>
                        </div>

                    </div>
                    <!--Mobile Logo-->
                    <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                        <div class="site-cart">
                            <a href="/cart" title="Cart">
                                <i class="anm anm-bag-l" style="color: #deb992; font-size: 22px !important;"></i>
                                <!-- <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">2</span> -->
                            </a>

                        </div>
                        <!-- <div class="site-header__search">
                            <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!--End Header-->
        <!--Mobile Menu-->
        <div class="mobile-nav-wrapper" role="navigation">
            <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
            <ul id="MobileNav" class="mobile-nav">
                {% if session['logged_in'] %}
                <li class="lvl1 parent megamenu"><a href="/">Home</a>

                </li>


                <li><a href="/shopfullwidth" class="site-nav">Men<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="/shopfullwidth/Shirts" class="site-nav">Shirts</a></li>
                        <li><a href="/shopfullwidth/Tshirts" class="site-nav">Tshirts</a></li>
                        <li><a href="/shopfullwidth/Jeans&Trousers" class="site-nav">Jeans & Trousers</a></li>
                        <li><a href="/shopfullwidth/Jackets&Hoodies" class="site-nav">Jackets & Hoodies</a></li>
                        <li><a href="/shopfullwidth/Sweaters&Sweatshirts" class="site-nav">Sweaters & Sweatshirts</a>
                        </li>
                        <li><a href="/shopfullwidth/Shorts&Chinos" class="site-nav">Shorts & Chinos</a></li>
                        <li><a href="/shopfullwidth/Sneakers&CasualShoes" class="site-nav">Sneakers & Casual Shoes</a>
                        </li>
                        <li><a href="/shopfullwidth/FormalShoes" class="site-nav">Formal Shoes</a></li>
                        <li><a href="/shopfullwidth/Sandals&Slippers" class="site-nav">Sandals & Slippers</a></li>
                    </ul>
                </li>



                <li><a href="/shopwomen" class="site-nav">Women<i class="anm anm-plus-l"></i></a>

                    <ul>
                        <li><a href="/shopwomen/Tops" class="site-nav">Tops</a></li>
                        <li><a href="/shopwomen/Dresses" class="site-nav">Dresses</a></li>
                        <li><a href="/shopwomen/Jeans&Pants" class="site-nav">Jeans & Pants</a></li>
                        <li><a href="/shopwomen/Skirts&Shorts" class="site-nav">Skirts & Shorts</a></li>
                        <li><a href="/shopwomen/Sweaters" class="site-nav">Sweaters</a></li>
                        <li><a href="/shopwomen/Jackets&Coats" class="site-nav">Jackets & Coats</a></li>
                        <li><a href="/shopwomen/Flats&Sandals" class="site-nav">Flats & Sandals</a></li>
                        <li><a href="/shopwomen/Heels&Wedges" class="site-nav">Heels & Wedges</a></li>
                        <li><a href="/shopwomen/Sneakers&CasualShoes" class="site-nav">Sneakers & Casual Shoes</a></li>
                    </ul>
                </li>
                <li class="lvl1 parent megamenu"><a href="/">Kids <span
                            style="background-color: red;border-radius: 5px; padding: 1px;">Coming soon!</span><i
                            class="anm anm-angle-down-l"></i></a>

                </li>
              

                <li class="lvl1 parent dropdown"><a href="/contactus">Contact Us</a>
                </li>

                <li class="lvl1 parent dropdown"><a href="/myaccount">My Account</a>
                </li>

                {% else %}

                <li class="lvl1 parent megamenu"><a href="/">Home</a>

                </li>


                <li><a href="/shopfullwidth" class="site-nav">Men<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="/shopfullwidth/Shirts" class="site-nav">Shirts</a></li>
                        <li><a href="/shopfullwidth/Tshirts" class="site-nav">Tshirts</a></li>
                        <li><a href="/shopfullwidth/Jeans&Trousers" class="site-nav">Jeans & Trousers</a></li>
                        <li><a href="/shopfullwidth/Jackets&Hoodies" class="site-nav">Jackets & Hoodies</a></li>
                        <li><a href="/shopfullwidth/Sweaters&Sweatshirts" class="site-nav">Sweaters & Sweatshirts</a>
                        </li>
                        <li><a href="/shopfullwidth/Shorts&Chinos" class="site-nav">Shorts & Chinos</a></li>
                        <li><a href="/shopfullwidth/Sneakers&CasualShoes" class="site-nav">Sneakers & Casual Shoes</a>
                        </li>
                        <li><a href="/shopfullwidth/FormalShoes" class="site-nav">Formal Shoes</a></li>
                        <li><a href="/shopfullwidth/Sandals&Slippers" class="site-nav">Sandals & Slippers</a></li>
                    </ul>
                </li>




                <li><a href="/shopwomen" class="site-nav">Women<i class="anm anm-plus-l"></i></a>

                    <ul>
                        <li><a href="/shopwomen/Tops" class="site-nav">Tops</a></li>
                        <li><a href="/shopwomen/Dresses" class="site-nav">Dresses</a></li>
                        <li><a href="/shopwomen/Jeans&Pants" class="site-nav">Jeans & Pants</a></li>
                        <li><a href="/shopwomen/Skirts&Shorts" class="site-nav">Skirts & Shorts</a></li>
                        <li><a href="/shopwomen/Sweaters" class="site-nav">Sweaters</a></li>
                        <li><a href="/shopwomen/Jackets&Coats" class="site-nav">Jackets & Coats</a></li>
                        <li><a href="/shopwomen/Flats&Sandals" class="site-nav">Flats & Sandals</a></li>
                        <li><a href="/shopwomen/Heels&Wedges" class="site-nav">Heels & Wedges</a></li>
                        <li><a href="/shopwomen/Sneakers&CasualShoes" class="site-nav">Sneakers & Casual Shoes</a></li>
                    </ul>
                </li>
                <li class="lvl1 parent megamenu"><a href="/">Kids <span
                            style="background-color: red;border-radius: 5px; padding: 1px;">Coming soon!</span><i
                            class="anm anm-angle-down-l"></i></a>

                </li>
             

                <li class="lvl1 parent dropdown"><a href="/contactus">Contact Us</a>
                </li>

                <li class="list-inline-item"><a href="/myaccount"
                        style="color: #deb992; font-weight: 500; display: none;">My Account</a>
                </li>
                {% endif %}

            </ul>
            <!-- <li class="lvl1 parent dropdown"><a href="Myaccount.html">My Account</a>
                </li> -->

        </div>
        <!--End Mobile Menu-->

        <!--Body Content-->
        <div id="page-content" style="margin-top: 50px;">
            <!--Page Title-->
            <div class="page section-header text-center">
                <div class="page-title">
                    <div class="wrapper">
                        <h1 style="color: #deb992; font-size: xx-large; margin-top: 30px;">Create an Account</h1>
                    </div>
                </div>
            </div>
            <!--End Page Title-->

            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                        <div class="mb-4">
                            <form method="post" action="/adduser" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form" onsubmit="return handleRegistration(event)">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="FirstName">First Name</label>
                                            <input type="text" name="firstname" id="firstname" required autofocus>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="LastName">Last Name</label>
                                            <input type="text" name="lastname" id="lastname" required>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Email</label>
                                            <input type="email" name="email" id="email" autocorrect="off" autocapitalize="off" required>
                                            <button type="button" class="btn btn-primary mt-2" onclick="sendVerificationCode()">Send Verification Code</button>
                                            <div id="verification-section" style="display: none; margin-top: 10px;">
                                                <input type="text" id="verification-code" placeholder="Enter verification code">
                                                <button type="button" class="btn btn-secondary" onclick="verifyCode()">Verify</button>
                                                <p id="verification-status" style="color: red;"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="phone">Phone Number</label>
                                            <input type="tel" name="phone" id="phone" autocorrect="off" autocapitalize="off" required>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="CustomerPassword">Password</label>
                                            <input type="password" name="password" id="password" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-12">
                                        <input type="submit" class="btn btn-success mb-3" value="Create">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--End Body Content-->

        <!--Footer-->
        <footer id="footer">


            <div class="site-footer">

                <div class="container">
                    <hr>
                    <!--Footer Links-->
                    <div class="footer-top">

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Quick Shop</h4>
                                <ul>
                                    <li><a href="/shopwomen">Women</a></li>
                                    <li><a href="/shopfullwidth">Men</a></li>
                                    <li><a href="#">Kids</a></li>
                                    <!-- <li><a href="#">Footwear</a></li> -->
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Informations</h4>
                                <ul>
                                    <li><a href="/aboutus">About us</a></li>
                                    <!-- <li><a href="#">Careers</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Terms &amp; condition</a></li> -->
                                    <li><a href="/myaccount">My Account</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Customer Services</h4>
                                <ul>

                                    <li><a href="/contactus">Contact Us</a></li>
                                    <li><a href="/returnspolicy" target="_blank">Orders and Returns Policy</a></li>
                                    <li><a href="/shippinganddelivery" target="_blank">Shipping and Delivery</a></li>
                                    <li><a href="/privacypolicy" target="_blank">Privacy Policy</a></li>
                                    <li><a href="/termsandconditions" target="_blank">Terms and Conditions</a></li>

                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                                <h4 class="h4">Contact Us</h4>
                                <ul class="addressFooter">
                                    <li><i class="icon anm anm-map-marker-al" style="color: #deb992 !important;"></i>
                                        <p>Ram nagar, Road no 28, Near sadhna juniour college <br> Wagle estate, Thane 400604</p>
                                    </li>
                                    <li class="phone"><i class="icon anm anm-phone-s"
                                            style="color: #deb992 !important; "></i>
                                        <p>+91 90762 61066</p>
                                    </li>
                                    <li class="email"><i class="icon anm anm-envelope-l"
                                            style="color: #deb992 !important; "></i>
                                        <p>fashionholics23@gmail.com</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Footer Links-->
                    <hr>
                    <div class="footer-bottom">

                        <p class="text-center" style="font-size: medium; font-weight: 500; color: #1ba098;">Designed By
                            Websharks</p>

                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
        <!--Scoll Top-->
        <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
        <!--End Scoll Top-->

        <!-- Including Jquery -->
        <script src="../static/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="../static/js/vendor/jquery.cookie.js"></script>
        <script src="../static/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="../static/js/vendor/wow.min.js"></script>
        <!-- Including Javascript -->
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/lazysizes.js"></script>
        <script src="../static/js/main.js"></script>
    </div>

    {% if error %}
    <script>
        alert("{{ error }}");
    </script>
    {% endif %}

    {% if success %}
    <script>
        alert("{{ success }}");
        setTimeout(function () {
            window.location.href = '/';
        }, 2000);  // Redirect to home after 2 seconds
    </script>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Fetch the message from the URL query parameters
            const params = new URLSearchParams(window.location.search);
            const message = params.get('message');

            // If a message is present, display it as an alert
            if (message) {
                alert(message);
            }
        });
    </script>
 <script>
    let sentCode = ""; // Store the verification code

    function sendVerificationCode() {
        const email = document.getElementById("email").value;
        if (!email) {
            alert("Please enter an email address.");
            return;
        }

        fetch('/send-verification-code', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                sentCode = data.code;
                document.getElementById("verification-section").style.display = "block";
                alert("Verification code sent to your email.");
            } else {
                alert("Failed to send verification code. Please try again.");
            }
        });
    }

    function verifyCode() {
        const enteredCode = document.getElementById("verification-code").value;
        const status = document.getElementById("verification-status");

        if (enteredCode === sentCode) {
            status.textContent = "Verification successful!";
            status.style.color = "green";
            document.getElementById("email").dataset.verified = "true";
        } else {
            status.textContent = "Verification code is incorrect.";
            status.style.color = "red";
        }
    }

    function handleRegistration(event) {
        const emailVerified = document.getElementById("email").dataset.verified;
        const email = document.getElementById("email").value;
        const phone = document.getElementById("phone").value;

        if (email && emailVerified !== "true") {
            alert("Please verify your email before submitting.");
            event.preventDefault();
            return false;
        }

        if (!email && !phone) {
            alert("Please enter either an email or a phone number.");
            event.preventDefault();
            return false;
        }

        return true; // Allow form submission
    }
</script>

</body>

<!-- belle//register   11 Nov 2019 12:22:27 GMT -->

</html>